<div class="container mt-3">
    <div class="mb-3">
        <img
            src="assets/xic_banner_tra.jpg"
            class="rounded border border-2 w-100"
            alt="Banner publicitario de inscripciones XIC"
        />
    </div>
    <h1 id="title" class="p-2 ms-3 d-flex justify-content-center">
        Registro de Intercambio
    </h1>
    <form
        [formGroup]="activitiesForm"
        (ngSubmit)="onSubmit()"
        class="needs-validation"
        novalidate
    >
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="activity_name" class="form-label"
                >Nombre del Intercambio<font color="red">*</font></label
            >
            <input
                formControlName="activity_name"
                type="text"
                class="form-control"
                id="activity_name"
                name="activity_name"
                required
            />
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="instructor" class="form-label"
                >Facilitador/a<font color="red">*</font></label
            >
            <input
                formControlName="instructor"
                type="text"
                class="form-control"
                id="instructor"
                name="instructor"
                required
            />
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="day" class="form-label"
                >Día<font color="red">*</font></label
            >
            <input
                formControlName="day"
                type="text"
                class="form-control"
                id="day"
                name="day"
                required
            />
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="hour" class="form-label"
                >Hora<font color="red">*</font></label
            >
            <input
                formControlName="hour"
                type="text"
                class="form-control"
                id="hour"
                name="hour"
                required
            />
        </div>
		<div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="category" class="form-label">Categoria</label>
            <input
                formControlName="category"
                type="text"
                class="form-control"
                id="category"
                name="category"
            />
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="description" class="form-label">Descripción</label>
            <textarea
                formControlName="description"
                class="form-control"
                id="description"
                name="description"
            ></textarea>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-between">
                    <button
                        type="button"
                        id="btn-limpiar"
                        class="btn btn-secondary"
                        style="width: 10rem; height: 3rem"
                        (click)="resetForm()"
                    >
                        Limpiar
                    </button>
                    <button
                        type="submit"
                        [disabled]="!activitiesForm.valid"
                        class="btn btn-primary"
                        style="width: 10rem; height: 3rem"
                    >
                        Enviar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>