<div class="container mt-3">
    <div class="mb-3">
        <img
            src="assets/xic_banner_tra.jpg"
            class="rounded border border-2 w-100"
            alt="Banner publicitari d'inscripcions XIC"
        />
    </div>
    <h1 id="title" class="p-2 ms-3 d-flex justify-content-center">
        Registre d'Usuari
    </h1>
    <form
        [formGroup]="usersForm"
        (ngSubmit)="onSubmit()"
        class="needs-validation"
        novalidate
    >
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="user_id" class="form-label"
                >DNI/NIE<font color="red">*</font></label
            >
            <input
                formControlName="user_id"
                type="text"
                class="form-control"
                id="user_id"
                name="user_id"
				[ngClass]="{
					success: !usersForm.get('user_id')?.errors,
					error: usersForm.get('user_id')?.errors
				}"
                required
            />
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="user_name" class="form-label"
                >Nom<font color="red">*</font></label
            >
            <input
                formControlName="user_name"
                type="text"
                class="form-control"
                id="user_name"
                name="user_name"
				[ngClass]="{
					success: !usersForm.get('user_name')?.errors,
					error: usersForm.get('user_name')?.errors
				}"
                required
            />
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="last_name" class="form-label"
                >Cognoms<font color="red">*</font></label
            >
            <input
                formControlName="last_name"
                type="text"
                class="form-control"
                id="last_name"
                name="last_name"
				[ngClass]="{
					success: !usersForm.get('last_name')?.errors,
					error: usersForm.get('last_name')?.errors
				}"
                required
            />
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label class="form-label">Gènere<font color="red">*</font></label>
            <div *ngFor="let gender of genders">
                <div class="form-check form-check-inline">
                    <input
                        formControlName="gender"
                        class="form-check-input"
                        type="radio"
                        id="gender"
                        name="gender"
                        [value]="gender"
						[ngClass]="{
							success: !usersForm.get('gender')?.errors,
							error: usersForm.get('gender')?.errors
						}"
						required
                    />
                    <label class="form-check-label" for="gender">{{
                        gender
                    }}</label>
                </div>
                <br />
            </div>
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="birthdate" class="form-label"
                >Data de Naixement<font color="red">*</font></label
            >
            <input
                formControlName="birthdate"
                type="date"
                class="form-control"
                id="birthdate"
                name="birthdate"
				[ngClass]="{
					success: !usersForm.get('birthdate')?.errors,
					error: usersForm.get('birthdate')?.errors
				}"
                required
            />
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="birthplace" class="form-label"
                >Lloc de Naixement<font color="red">*</font></label
            >
            <input
                formControlName="birthplace"
                type="text"
                class="form-control"
                id="birthplace"
                name="birthplace"
				[ngClass]="{
					success: !usersForm.get('birthplace')?.errors,
					error: usersForm.get('birthplace')?.errors
				}"
                required
            />
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="phone" class="form-label"
                >Telèfon<font color="red">*</font></label
            >
            <input
                formControlName="phone"
                type="number"
                class="form-control"
                id="phone"
                name="phone"
				[ngClass]="{
					success: !usersForm.get('phone')?.errors,
					error: usersForm.get('phone')?.errors
				}"
                required
            />
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="email" class="form-label">Correu Electrònic</label>
            <input
                formControlName="email"
                type="email"
                class="form-control"
                id="email"
                name="email"
				[ngClass]="{
                    success: !usersForm.get('email')?.errors && usersForm.get('email')?.dirty,
                    optional: usersForm.get('email')?.untouched || usersForm.get('email')?.pristine
                }"
            />
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="abilities" class="form-label"
                >Què podria ensenyar?</label
            >
            <textarea
                formControlName="abilities"
                class="form-control"
                id="abilities"
                name="abilities"
				[ngClass]="{
                    success: !usersForm.get('abilities')?.errors && usersForm.get('abilities')?.dirty,
                    optional: usersForm.get('abilities')?.untouched || usersForm.get('abilities')?.pristine
                }"
            ></textarea>
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="role" class="form-label">Rol</label>
            <select
                formControlName="role"
                class="form-select"
                id="role"
                name="role"
				[ngClass]="{
					success: !usersForm.get('role')?.errors && usersForm.get('role')?.dirty,
					optional: usersForm.get('role')?.untouched || usersForm.get('role')?.pristine
				}"
            >
                <option [value]="''">Seleccionar</option>
                <option *ngFor="let role of roles" [value]="role">
                    {{ role }}
                </option>
            </select>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-between">
                    <button
                        type="button"
                        id="btn-limpiar"
                        class="btn btn-secondary"
                        style="width: 10rem; height: 3rem"
                        (click)="resetForm()"
                    >
                        Netejar
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary"
                        style="width: 10rem; height: 3rem"
                    >
                        Enviar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
