<div class="modal-header">
    <h5 class="modal-title">Detalls de l'Usuari</h5>
    <button
        type="button"
        class="btn-close"
        aria-label="Tancar"
        (click)="onCloseDialog()"
    ></button>
</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="detail-item">
                    <label class="d-block">DNI/NIE de l'Usuari: </label>
                    <span>{{ user.user_id }}</span>
                </div>
                <div class="detail-item">
                    <label class="d-block">Nom: </label>
                    <span>{{ user.user_name }}</span>
                </div>
                <div class="detail-item">
                    <label class="d-block">Cognoms: </label>
                    <span>{{ user.last_name }}</span>
                </div>
                <div class="detail-item">
                    <label class="d-block">Gènere: </label>
                    <span>{{ user.gender }}</span>
                </div>
                <div class="detail-item">
                    <label class="d-block">Data de Naixement: </label>
                    <span>{{ user.birthdate | date : "dd/MM/yyyy" }}</span>
                </div>
                <div class="detail-item">
                    <label class="d-block">Lloc de Naixement: </label>
                    <span>{{ user.birthplace }}</span>
                </div>
                <div class="detail-item">
                    <label class="d-block">Telèfon: </label>
                    <span>{{ user.phone }}</span>
                </div>
            </div>
            <div class="col">
                <div class="detail-item">
                    <label class="d-block">Correu Electrònic: </label>
                    <span>{{ user.email ? user.email : "N/A" }}</span>
                </div>
                <div class="detail-item">
                    <label class="d-block">Què podria ensenyar?: </label>
                    <span>{{ user.abilities ? user.abilities : "N/A" }}</span>
                </div>
                <div class="detail-item">
                    <label class="d-block">Rol: </label>
                    <span>{{ user.role ? user.role : "N/A" }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer d-flex justify-content-center">
    <button type="button" class="btn btn-primary" (click)="updateUser()">
        Editar
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteUser()">
        Eliminar
    </button>
</div>
