@import 'styles/_variables.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 4vw;
    background-color: $secondary-color;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    .logo {
        img {
            background-color: #fff;
            height: 5vw;
            border-radius: 1vw;
            padding: 0.5vw;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .nav {
        flex: 1;
        display: flex;
        justify-content: center;
        gap: 2vw;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        .nav-link {
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
            padding: 1vw 2vw;
            font-size: 1.5vw;
            background-color: $primary-color;
            border-radius: 2.5vw;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;

            &:hover {
                background-color: lighten($primary-color, 10%);
                box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
                transform: translateY(-0.2vw);
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        padding: 3vw 5vw;

        .logo {
            img {
                height: 8vw;
            }
        }

        .nav {
            gap: 3vw;

            .nav-link {
                font-size: 2vw;
                padding: 1.5vw 3vw;
            }
        }
    }
}

@media (max-width: 480px) {
    .header {
        padding: 4vw 6vw;

        .logo {
            img {
                height: 10vw;
            }
        }

        .nav {
            gap: 4vw;

            .nav-link {
                font-size: 2.5vw;
                padding: 2vw 4vw;
            }
        }
    }
}