@import "bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "styles/_variables.scss";

html,
body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	background-color: #f8f9fa;
	color: $secondary-color;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

app-root {
	display: flex;
	flex-direction: column;
	flex: 1;
}
