@import "bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "styles/_variables.scss";

body {
	background-color: #f8f9fa;
	color: $secondary-color;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	padding: 20px;
}