<div class="container mt-3">
    <div class="mb-3">
        <img
            src="assets/xic_banner_tra.jpg"
            class="rounded border border-2 w-100"
            alt="Banner plucitario de inscripciones XIC"
        />
    </div>
    <h1 id="title" class="p-2 ms-3 d-flex justify-content-center">
        Lista de Usuarios
    </h1>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <button class="btn btn-primary me-3" (click)="addNewUser()">
            Añadir Nuevo Usuario
        </button>
        <div class="d-flex filter-container">
            <div class="filter-group">
                <i class="bi bi-funnel-fill me-2"></i>
                <label for="userIdFilter" class="filter-label me-2"
                    >Filtrar por DNI/NIE de Usuario:</label
                >
                <input
                    id="userIdFilter"
                    class="form-control filter-input"
                    [(ngModel)]="selectedUserId"
                    (input)="filterUsers()"
                    placeholder="DNI/NIE"
                />
            </div>
        </div>
    </div>

    <ul class="list-group">
        <li
            *ngFor="let user of filteredUsers"
            class="list-group-item"
            (click)="openDialog('Users', user.user_id!)"
            style="cursor: pointer"
        >
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <strong>DNI/NIE:</strong> {{ user.user_id }} |
                    <strong>Nombre:</strong> {{ user.user_name }}
                    {{ user.last_name }} | <strong>Género:</strong>
                    {{ user.gender }} | <strong>Fecha de Nacimiento:</strong>
                    {{ user.birthdate | date : "dd/MM/yy" }} |
                    <strong>Lugar de Nacimiento:</strong>
                    {{ user.birthplace }} | <strong>Teléfono:</strong>
                    {{ user.phone }}
                    <span *ngIf="user.email"
                        >| <strong>Email:</strong> {{ user.email }}</span
                    >
                </div>
            </div>
        </li>
    </ul>
</div>
