@import 'styles/_variables.scss';

.container {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
	background-color: $primary-color;
	color: #f9f9f9;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	padding-top: 20px;
	flex-grow: 1;
	text-align: center;
}

.filter {
	padding-top: 6px;
}

.list-group-item {
	background-color: #f9f9f9;
	border: 2px solid #dee2e6;
	margin-bottom: 10px;
	border-radius: 4px;
	&:hover {
		background-color: lighten($primary-color, 50%);
	}

	.btn-info {
		background-color: $primary-color;
		border-color: $primary-color;

		&:hover {
			background-color: lighten($primary-color, 10%);
			border-color: lighten($primary-color, 10%);
		}
	}
}

.btn-primary {
	background-color: $primary-color;
	border: none;
	border-radius: 8px;
	padding: 10px 20px;
	transition: background-color 0.3s ease-in-out;

	&:hover {
		background-color: lighten($primary-color, 10%);
	}
}