<div class="container mt-3">
    <div class="mb-3">
        <img
            src="assets/xic_banner_tra.jpg"
            class="rounded border border-2 w-100"
            alt="Banner publicitari d'inscripcions XIC"
        />
    </div>
    <form
        [formGroup]="inscriptionsForm"
        (ngSubmit)="onSubmit()"
        class="needs-validation"
        novalidate
    >
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="user_id" class="form-label"
                >DNI/NIE<font color="red">*</font></label
            >
            <div class="input-group">
                <input
                    formControlName="user_id"
                    type="text"
                    class="form-control"
                    id="user_id"
                    name="user_id"
                    [ngClass]="{
                        success: !inscriptionsForm.get('user_id')?.errors,
                        error: inscriptionsForm.get('user_id')?.errors
                    }"
                    required
                />
                <button
                    type="button"
                    class="btn btn-primary"
                    id="buscarRegistro"
                    (click)="checkUserId()"
                >
                    Buscar DNI
                </button>
            </div>
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="user_name" class="form-label"
                >Nom<font color="red">*</font></label
            >
            <input
                formControlName="user_name"
                type="text"
                class="form-control"
                id="user_name"
                name="user_name"
                [ngClass]="{
                    success: !inscriptionsForm.get('user_name')?.errors,
                    error: inscriptionsForm.get('user_name')?.errors
                }"
                required
            />
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="last_name" class="form-label"
                >Cognom<font color="red">*</font></label
            >
            <input
                formControlName="last_name"
                type="text"
                class="form-control"
                id="last_name"
                name="last_name"
                [ngClass]="{
                    success: !inscriptionsForm.get('last_name')?.errors,
                    error: inscriptionsForm.get('last_name')?.errors
                }"
                required
            />
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label class="form-label">Gènere<font color="red">*</font></label>
            <div *ngFor="let gender of genders">
                <div class="form-check form-check-inline">
                    <input
                        formControlName="gender"
                        class="form-check-input"
                        type="radio"
                        id="gender"
                        name="gender"
                        [value]="gender"
                        [ngClass]="{
                            success: !inscriptionsForm.get('gender')?.errors,
                            error: inscriptionsForm.get('gender')?.errors
                        }"
						required
                    />
                    <label class="form-check-label" for="gender">{{
                        gender
                    }}</label>
                </div>
                <br />
            </div>
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="birthdate" class="form-label"
                >Data de naixement<font color="red">*</font></label
            >
            <input
                formControlName="birthdate"
                type="date"
                class="form-control"
                id="birthdate"
                name="birthdate"
                [ngClass]="{
                    success: !inscriptionsForm.get('birthdate')?.errors,
                    error: inscriptionsForm.get('birthdate')?.errors
                }"
                required
            />
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="birthplace" class="form-label"
                >Lloc de naixement (Província / País)<font color="red"
                    >*</font
                ></label
            >
            <input
                formControlName="birthplace"
                type="text"
                class="form-control"
                id="birthplace"
                name="birthplace"
                [ngClass]="{
                    success: !inscriptionsForm.get('birthplace')?.errors,
                    error: inscriptionsForm.get('birthplace')?.errors
                }"
                required
            />
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="phone" class="form-label"
                >Telèfon<font color="red">*</font></label
            >
            <input
                formControlName="phone"
                type="tel"
                class="form-control"
                id="phone"
                name="phone"
                [ngClass]="{
                    success: !inscriptionsForm.get('phone')?.errors,
                    error: inscriptionsForm.get('phone')?.errors
                }"
                required
            />
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="email" class="form-label">Correu Electrònic</label>
            <input
                formControlName="email"
                type="email"
                class="form-control"
                id="email"
                name="email"
                [ngClass]="{
                    success: !inscriptionsForm.get('email')?.errors && inscriptionsForm.get('email')?.dirty,
                    optional: inscriptionsForm.get('email')?.untouched || inscriptionsForm.get('email')?.pristine
                }"
            />
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="activity1" class="form-label"
                >Intercanvi 1<font color="red">*</font></label
            >
            <select
                formControlName="activity1"
                class="form-select"
                id="activity1"
                name="activity1"
                [ngClass]="{
                    success: !inscriptionsForm.get('activity1')?.errors,
                    error: inscriptionsForm.get('activity1')?.errors
                }"
                required
            >
                <option [value]="''">Seleccionar</option>
                <option
                    *ngFor="let activity of activities; let i = index"
                    [value]="activity.activity_id"
                >
                    {{ i + 1 }}.
                    {{
                        activity.activity_name +
                            " | " +
                            activity.instructor +
                            " | " +
                            activity.day +
                            " de " +
                            activity.hour
                    }}
                </option>
            </select>
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="activity2" class="form-label">Intercanvi 2</label>
            <select
                formControlName="activity2"
                class="form-select"
                id="activity2"
                name="activity2"
                [ngClass]="{
                    success: !inscriptionsForm.get('activity2')?.errors && inscriptionsForm.get('activity2')?.dirty,
                    optional: inscriptionsForm.get('activity2')?.untouched || inscriptionsForm.get('activity2')?.pristine
                }"
            >
                <option [value]="''">Seleccionar</option>
                <option
                    *ngFor="let activity of activities; let i = index"
                    [value]="activity.activity_id"
                >
                    {{ i + 1 }}.
                    {{
                        activity.activity_name +
                            " | " +
                            activity.instructor +
                            " | " +
                            activity.day +
                            " de " +
                            activity.hour
                    }}
                </option>
            </select>
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="activity3" class="form-label">Intercanvi 3</label>
            <select
                formControlName="activity3"
                class="form-select"
                id="activity3"
                name="activity3"
                [ngClass]="{
                    success: !inscriptionsForm.get('activity3')?.errors && inscriptionsForm.get('activity3')?.dirty,
                    optional: inscriptionsForm.get('activity3')?.untouched || inscriptionsForm.get('activity3')?.pristine
                }"
            >
                <option [value]="''">Seleccionar</option>
                <option
                    *ngFor="let activity of activities; let i = index"
                    [value]="activity.activity_id"
                >
                    {{ i + 1 }}.
                    {{
                        activity.activity_name +
                            " | " +
                            activity.instructor +
                            " | " +
                            activity.day +
                            " de " +
                            activity.hour
                    }}
                </option>
            </select>
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="abilities" class="form-label"
                >Què podria ensenyar?</label
            >
            <textarea
                formControlName="abilities"
                type="text"
                class="form-control"
                id="abilities"
                name="abilities"
                [ngClass]="{
                    success: !inscriptionsForm.get('abilities')?.errors && inscriptionsForm.get('abilities')?.dirty,
                    optional: inscriptionsForm.get('abilities')?.untouched || inscriptionsForm.get('abilities')?.pristine
                }"
            ></textarea>
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label class="form-label">Quota<font color="red">*</font></label>
            <div>
                <input
                    formControlName="fee"
                    class="form-control"
                    id="fee"
                    [value]="fee"
                    readonly
                    hidden
                />
                <div>
                    {{
                        fee +
                            "€ | " +
                            (fee === 0 ? 0 : fee / 5) +
                            " Intercanvi/s"
                    }}
                </div>
            </div>
        </div>
        <div class="mb-3 bg-white rounded border border-1 p-4">
            <label for="referred" class="form-label"
                >Acollida<font color="red">*</font></label
            >
            <select
                formControlName="referred"
                class="form-select"
                id="referred"
                name="referred"
                [ngClass]="{
                    success: !inscriptionsForm.get('referred')?.errors,
                    error: inscriptionsForm.get('referred')?.errors
                }"
                required
            >
                <option value="">Seleccionar</option>
                <option
                    *ngFor="let referred of referrers"
                    [value]="referred.user_name + ' ' + referred.last_name"
                >
                    {{ referred.user_name + " " + referred.last_name }}
                </option>
            </select>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-between">
                    <button
                        type="button"
                        id="btn-limpiar"
                        class="btn btn-secondary"
                        style="width: 10rem; height: 3rem"
                        (click)="resetForm()"
                    >
                        Netejar
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary"
                        style="width: 10rem; height: 3rem"
                    >
                        Enviar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
