<div class="container mt-3">
    <div class="mb-3">
        <img
            src="assets/xic_banner_tra.jpg"
            class="rounded border border-2 w-100"
            alt="Banner publicitari d'inscripcions XIC"
        />
    </div>
    <h1 id="title" class="p-2 ms-3 d-flex justify-content-center">
        Exportar Dades
    </h1>
    <form class="row g-3">
        <div class="col-12 d-flex justify-content-center">
            <div class="col-md-4">
                <label for="exportType" class="form-label"
                    >Tipus d'Exportació</label
                >
                <select
                    id="exportType"
                    class="form-select"
                    [(ngModel)]="exportType"
                    name="exportType"
                >
                    <option value="inscriptions">Inscripcions</option>
                    <option value="activities">Intercanvis</option>
                    <option value="users">Usuaris</option>
                </select>
            </div>
        </div>
        <div *ngIf="exportType === 'inscriptions'" class="w-100"></div>
        <!-- Clear row -->
        <div *ngIf="exportType === 'inscriptions'" class="col-md-6">
            <label for="startDate" class="form-label">Data d'Inici</label>
            <input
                type="date"
                class="form-control"
                id="startDate"
                [(ngModel)]="startDate"
                name="startDate"
            />
        </div>
        <div *ngIf="exportType === 'inscriptions'" class="col-md-6">
            <label for="endDate" class="form-label">Data de Fi</label>
            <input
                type="date"
                class="form-control"
                id="endDate"
                [(ngModel)]="endDate"
                name="endDate"
            />
        </div>
        <div class="col-12 text-center">
            <button
                type="button"
                class="btn btn-primary"
                (click)="exportFile()"
            >
                Exportar Arxiu
            </button>
        </div>
    </form>
</div>
