<div class="sidebar bg-dark" [class.open]="sidebarOpen()">
	<div class="container py-3">
	  <img src="assets/xic_bla_tra.png" alt="Icon" class="icon d-inline" (click)="closeSidebar()">
	  <ul class="nav flex-column mt-3">
		<li class="nav-item">
		  <a class="nav-link text-white" routerLink="/" (click)="closeSidebar()">Inscripciones</a>
		<li *ngIf="isLoggedIn()" class="nav-item">
		  <a class="nav-link text-white" routerLink="/users" (click)="closeSidebar()">Usuarios</a>
		</li>
		<li *ngIf="isLoggedIn()" class="nav-item">
		  <a class="nav-link text-white" routerLink="/activities" (click)="closeSidebar()">Intercambios</a>
		</li>
		<li *ngIf="isLoggedIn()" class="nav-item">
		  <a class="nav-link text-white" routerLink="/export" (click)="closeSidebar()">Exportar Datos</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link text-white" (click)="logout()" (click)="closeSidebar()">{{ isLoggedIn() ? 'Logout' : 'Login' }}</a>
		</li>
	  </ul>
	</div>
  </div>