<div class="container mt-5">
	<div class="card">
		<div class="card-header">
    <h2 class="text-center mb-4 title">
        Registro de Nueva Máquina Virtual
    </h2>
	</div>

	<div class="card-body">
    <form [formGroup]="vmForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
        <div class="form-group mb-3">
            <label for="vmName">VM Name: *Required</label>
            <input
                class="form-control"
                type="text"
                id="vmName"
                formControlName="vmName"
                required
            />
        </div>
        <div>
            <label for="ip">IP: *Required</label>
            <input
                class="form-control"
                type="text"
                id="ip"
                formControlName="ip"
                required
            />
        </div>
        <div class="form-group mb-3">
            <label for="dnsName">DNS Name: *Required</label>
            <input
                class="form-control"
                type="text"
                id="dnsName"
                formControlName="dnsName"
                required
            />
        </div>
        <div class="form-group mb-3">
            <label for="project">Project:</label>
            <input
                class="form-control"
                type="text"
                id="project"
                formControlName="project"
            />
        </div>
        <div class="form-group mb-3">
            <label for="environment">Environment:</label>
            <textarea
                class="form-control"
                type="text"
                id="environment"
                formControlName="environment"
            ></textarea>
        </div>
        <div class="form-group mb-3">
            <label for="status">Status: *Required</label>
            <select
                class="form-control"
                id="status"
                formControlName="status"
                required
            >
			<option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
			</select>
        </div>
        <div class="form-group mb-3">
            <label for="comment">Comment:</label>
            <textarea
                class="form-control"
                id="comment"
                formControlName="comment"
            ></textarea>
        </div>
        <div class="form-group mb-3">
            <label for="operatingSystem">Operating System:</label>
            <input
                class="form-control"
                type="text"
                id="operatingSystem"
                formControlName="operatingSystem"
            />
        </div>
        <div class="form-group mb-3">
            <label for="cpuCores">CPU Cores:</label>
            <input
                class="form-control"
                type="number"
                id="cpuCores"
                formControlName="cpuCores"
            />
        </div>
		<div class="form-group mb-3">
			<label for="gpu">GPU:</label>
			<input
				class="form-control"
				type="text"
				id="gpu"
				formControlName="gpu"
			/>
		</div>
        <div class="form-group mb-3">
            <label for="ram">RAM (GB):</label>
            <input
                class="form-control"
                type="number"
                id="ram"
                formControlName="ram"
            />
        </div>
        <div class="form-group mb-3">
            <label for="disk">Disk (GB):</label>
            <input
                class="form-control"
                type="number"
                id="disk"
                formControlName="disk"
            />
        </div>
        <button
            type="submit"
            [disabled]="!vmForm.valid"
            class="btn btn-primary"
        >
            Crear
        </button>
    </form>
	</div>
</div>
